@model EditFieldOwnerProfileInputModel
@using PlayPal.Data.Models.Enums

@{
    TempData["Title"] = "Edit Profile";
}

<div class="text-center">
    <h1>
        @TempData["Title"]
    </h1>
</div>

<div class="row">
    <div class="col-md-4">
        <br />
        <div>
            <img src="~/img/profile_pic.jpg" class="avatar" title="Change profile picture" style="width: 300px; height: 300px; object-fit: cover; border-radius: 50%; background-color:coral; padding:5px;" />
        </div>
        <br />
        <a asp-controller="Account" asp-action="ChangePassword" class="btn btn-success mt-2" style="width:300px;">Change Profile Picture</a>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-6">
        <form method="post" asp-area="Fieldmanagment" asp-controller="FieldOwner" asp-action="EditProfile">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="@Model.Id" type="hidden" value=@Model.Id />
            <input asp-for="@Model.Email" type="hidden" value=@Model.Email />
            <div class="form-group">
                <label asp-for=@Model.FirstName class="form-label mt-4">First Name</label>
                <input asp-for="@Model.FirstName" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="@Model.FirstName" value="@Model.FirstName">
                <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.LastName" class="form-label mt-4">Last Name</label>
                <input asp-for="@Model.LastName" type="text" class="form-control" id="exampleInputPassword1" placeholder="@Model.LastName" value="@Model.LastName">
                <span asp-validation-for="@Model.LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.CompanyName" class="form-label mt-4">Company Name</label>
                <input asp-for="@Model.CompanyName" type="text" class="form-control" id="exampleInputPassword1" placeholder="@Model.CompanyName" value="@Model.CompanyName">
                <span asp-validation-for="@Model.CompanyName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.ContactAddress" class="form-label mt-4">Contact Address</label>
                <input asp-for="@Model.ContactAddress" type="text" class="form-control" id="exampleInputPassword1" placeholder="@Model.ContactAddress" value="@Model.ContactAddress">
                <span asp-validation-for="@Model.ContactAddress" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Title" class="form-label mt-4">Select Title</label>
                <select asp-for="@Model.Title" class="form-select" id="exampleSelect1">
                    <option value="@Title.Mr.ToString()">@Title.Mr.ToString()</option>
                    <option value="@Title.Mrs.ToString()">@Title.Mrs.ToString()</option>
                    <option value="@Title.Miss.ToString()">@Title.Miss.ToString()</option>
                    <option value="@Title.Ms.ToString()">@Title.Ms.ToString()</option>
                </select>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="@Model.Password" class="form-label mt-4">Password</label>
                <input asp-for="@Model.Password" type="password" class="form-control" id="exampleInputPassword1" placeholder="@Model.Password">
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success mt-2" style="width:100%">Save Changes</button>
        </form>
        <br />
        <a asp-area="" asp-controller="Account" asp-action="ChangePassword" class="btn btn-danger mt-2" style="width:100%">Change Password</a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
