@model SearchPlayerInputModel
@using PlayPal.Common.StringFormats

@{
    TempData["Title"] = "Players";
}

<div class="text-center">
    <h2>
        @TempData["Title"]
    </h2>
</div>
<br />
<div class="container-fluid">
    <form method="post" asp-area="Administration" asp-controller="Player" asp-action="Search">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="form-group col-3">
                <label asp-for="@Model.Name" class="form-label mt-2">Name</label>
                <input asp-for="@Model.Name" type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter player's name">
                <span asp-validation-for="@Model.Name"></span>
            </div>
            <div class="form-group col-3">
                <label asp-for="@Model.Email" class="form-label mt-2">Email</label>
                <input asp-for="@Model.Email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter player's email address">
                <span asp-validation-for="@Model.Email"></span>
            </div>
            <div class="form-group col-3">
                <label asp-for="@Model.City" class="form-label mt-2">City</label>
                <input asp-for="@Model.City" type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter player's current city">
                <span asp-validation-for="@Model.City"></span>
            </div>
            <div class="col-3 mb-2">
                <div style="height:50%"></div>
                <button class="btn btn-success mt-1" type="submit" style="width:100%">Search</button>
            </div>
        </div>
    </form>

    <div class="row mt-2 mb-1" style="background-color:darkorange">
        <div class="col-3">
            Name
        </div>
        <div class="col-3">
            Email
        </div>
        <div class="col-3">
            City
        </div>
        <div class="col-3">
        </div>
    </div>

    @foreach (var player in Model.Players)
    {
        <div class="row mt-1 mb-1">
            <div class="col-3">
                @player.Name
            </div>
            <div class="col-3">
                @player.Email
            </div>
            <div class="col-3">
                @player.City
            </div>
            <div class="col-3 mb-2">
                <form asp-area="Administration" asp-controller="Ban" asp-action="Ban" method="post">
                    <input type="hidden" value="@player.Id" name="playerId" />
                    <button class="btn btn-danger" type="submit" style="width:100%">Ban player</button>
                </form>
            </div>
            <hr />
        </div>
    }
</div>