@model ICollection<MessageViewModel>
@using PlayPal.Common.IdentityConstants
@{
    TempData["Title"] = "Sent Messages";

    if (User.IsInRole(PlayPalRoleNames.Administrator) ||
    User.IsInRole(PlayPalRoleNames.FieldOwner))
    {
        Layout = ViewData["Layout"]!.ToString();
    }
}
<div class="text-center">
    <h2>
        @TempData["Title"]
    </h2>
</div>
<br />
<div class="container-fluid">

    @foreach (var message in Model)
    {
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Sent to: <a asp-area="" asp-controller="Message" asp-action="Send" asp-route-userId="@message.ReceiverId" style="text-decoration:none; color:white">
                @message.Receiver
            </a></div>
            <div class="card-body">
                <h4 class="card-title">@message.Title</h4>
                <p class="card-text">@message.Content</p>
            </div>
        </div>
    }
</div>