@model PlayerProfileViewModel
@using PlayPal.Common.StringFormats
@using PlayPal.Extensions
@using PlayPal.Common.IdentityConstants

<link href="~/css/profile.css" rel="stylesheet" />

@{
    TempData["Title"] = "Profile";

}

<div class="text-center mt-5">
    <h2>
        @TempData["Title"]
    </h2>
</div>
<br />

<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="card p-4">
        <div class=" image d-flex flex-column justify-content-center align-items-center">
            <div class="justify-content-center align-items-center">
                <img src="@Model.ProfilePictureUrl" class="avatar" style="width: 150px; height: 150px; object-fit: cover;" />
            </div>
            <span class="name mt-3" style="color:black">@Model.Name</span>
            <div class="d-flex flex-row justify-content-center align-items-center mt-3">
                <span class="number">Current city: <span class="number" style="color:coral">@Model.CurrentCity</span></span>
            </div>
            <div class="d-flex flex-row justify-content-center align-items-center mt-3">
                <span class="number">Position: <span class="number" style="color:coral">@Model.Position</span></span>
            </div>
            <div class="d-flex flex-row justify-content-center align-items-center mt-3">
                <span class="number">Games: <span class="number" style="color:coral">@Model.Games</span></span>
            </div>
            <div class="d-flex flex-row justify-content-center align-items-center mt-3">
                <span class="number">Goals: <span class="number" style="color:coral">@Model.Goals</span></span>
            </div>
            @if (User.IsInRole(PlayPalRoleNames.Player) &&
            (Guid)User.PlayerId()! == Model.Id)
            {
                <div class=" d-flex mt-2">
                    <button type="" class="btn1 btn-dark" asp-controller="Player" asp-action="EditProfile" onclick="location.href='@Url.Action("EditProfile", "Player")'">Edit Profile</button>
                </div>
            }
            else
            {
                <div class="d-flex mt-2">
                    <a class="btn1 btn-dark text-decoration-none text-center text-bg-primary" asp-controller="Message" asp-action="Send" asp-route-userId="@Model.UserId">Message</a>
                </div>
            }


        </div>
    </div>
</div>
