@model RegisterUserInputModel

@{
    ViewData["Title"] = "Register";
}

<div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
        <form method="post" enctype="multipart/form-data" asp-controller="Account" asp-action="ApplyForAdministrator">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="@Model.Id" type="hidden" value=@Model.Id />
            <input asp-for="@Model.Email" type="hidden" value=@Model.Email />
            <input asp-for="@Model.Password" type="hidden" value=@Model.Password />
            <input asp-for="@Model.ConfirmPassword" type="hidden" value=@Model.ConfirmPassword />

            <div class="form-group">
                <label asp-for="@Model.Administrator!.FirstName" class="form-label mt-4">First Name</label>
                <input asp-for="@Model.Administrator!.FirstName" class="form-control" placeholder="First Name">
                <span asp-validation-for="@Model.Administrator!.FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Administrator!.LastName" class="form-label mt-4">Last Name</label>
                <input asp-for="@Model.Administrator!.LastName" class="form-control" placeholder="Last Name">
                <span asp-validation-for="@Model.Administrator!.LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.ProfilePicture" class="form-label mt-4">Choose Profile Picture</label>
                <input asp-for="@Model.ProfilePicture" class="form-control" type="file" id="formFile" />
            </div>

            <br />
            <button asp-controller="Account" asp-action="ApplyForAdministrator" type="submit" class="btn btn-success" style="width:100%">Apply</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
