@using Microsoft.AspNetCore.Identity
@using PlayPal.Data.Models;
@using PlayPal.Common.IdentityConstants
@inject SignInManager<PlayPalUser> SignInManager
@inject UserManager<PlayPalUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            @if (User.IsInRole(PlayPalRoleNames.Player))
            {
                <a class="nav-link active" asp-controller="Player" asp-action="ViewProfile" title="View Profile">
                    Hello,
                    @if (User.Claims.Any(c => c.Type == "Name"))
                    {
                        @User.Claims.First(c =>c.Type  == "Name").Value
                    }
                    else
                    {
                        @User.Identity!.Name
                        ;
                    }
                </a>
            }
            else if (User.IsInRole(PlayPalRoleNames.FieldOwner))
            {
                <a class="nav-link active" asp-area="FieldManagment" asp-controller="FieldOwner" asp-action="ViewProfile" title="View Profile">
                    Hello,
                    @if (User.Claims.Any(c => c.Type == "Name"))
                    {
                        @User.Claims.First(c =>c.Type  == "Name").Value
                    }
                    else
                    {
                        @User.Identity!.Name
                        ;
                    }
                </a>
            }
            else
            {
                <a class="nav-link active" asp-area="Administration" asp-controller="Administrator" asp-action="ViewProfile" title="View Profile">
                    Hello,
                    @if (User.Claims.Any(c => c.Type == "Name"))
                    {
                        @User.Claims.First(c =>c.Type  == "Name").Value
                    }
                    else
                    {
                        @User.Identity!.Name
                        ;
                    }
                </a>
            }
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link active">Logout</button>
            </form>
        </li>
    }
</ul>
