@model GameDetailViewModel
@using PlayPal.Common.StringFormats

@{
    TempData["Title"] = "Game Details";
}

<div class="text-center">
    <h2>
        @TempData["Title"]
    </h2>
</div>

<div class="row align-content-center">

    <div style="color:white">
        <h4>
            Creator:
            <a asp-area="" asp-controller="Player" asp-action="ViewProfile" asp-route-playerId="@Model.CreatorId">
                @Model.Creator
            </a>
        </h4>
    </div>
    <div>
        <h4>
            Field: @Model.Field
        </h4>
    </div>
    <div>
        <h4>
            Starting time: @Model.StartingTime.ToLocalTime().ToString(DateTimeFormats.GameStatEnd)
        </h4>
    </div>
    <div>
        <h4>
            Ending time: @Model.EndingTime.ToLocalTime().ToString(DateTimeFormats.GameStatEnd)
        </h4>
    </div>
   
    <br />
    <br />

    <div class="row" style="background-color:orange">
        <div class="col-4 text-center" style="color:white">
                Pending Players
        </div>
        <div class="col-4 text-center" style="color:white">
                Home Team
        </div>
        <div class="col-4 text-center" style="color:white">
                Away Team
        </div>
    </div>
    <div class="row">
        <div class="row col-4 text-center">
            @foreach (var pendingPlayer in Model.PendingPlayers)
            {
                    <a asp-area="" asp-controller="Player" asp-action="ViewProfile" asp-route-playerId="@pendingPlayer.Id" style="color:white; text-decoration:none">
                            @pendingPlayer.Name
                    </a>
                    <br />
            }
        </div>
        <div class="row col-4 text-center">
            @foreach (var homeTeamPlayer in Model.HomeTeam)
            {
                    <a asp-area="" asp-controller="Player" asp-action="ViewProfile" asp-route-playerId="@homeTeamPlayer.Id" style="color:white; text-decoration:none">
                            @homeTeamPlayer.Name
                    </a>
                    <br />
            }
        </div>
        <div class="row col-4 text-center">
            @foreach (var awayTeamPlayer in Model.AwayTeam)
            {
                    <a asp-area="" asp-controller="Player" asp-action="ViewProfile" asp-route-playerId="@awayTeamPlayer.Id" style="color:white; text-decoration:none">
                            @awayTeamPlayer.Name
                    </a>
                    <br />
            }
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
