@model ICollection<GameViewModel>
@using PlayPal.Common.StringFormats

@{
    TempData["Title"] = "My Games";
}

<div class="text-center">
    <h2>
        @TempData["Title"]
    </h2>
</div>
<br />
<div class="container-fluid">
    <div class="row" style="background-color:darkorange; color:white">
        <div class="col-2">
            Field
        </div>
        <div class="col-3">
            Starting time
        </div>
        <div class="col-3">
            Ending time
        </div>
        <div class="col-2">
        </div>
        <div class="col-2">
        </div>
    </div>

    @foreach (var game in Model)
    {
        <div class="row">
            <div class="col-2 mt-2 active">
                @game.FieldName
            </div>
            <div class="col-3 mt-2 active">
                @game.StartingTime.ToString(DateTimeFormats.GameStatEnd)
            </div>
            <div class="col-3 mt-2 active">
                @game.EndingTime.ToString(DateTimeFormats.GameStatEnd)
            </div>
            <div class="col-2 mt-1 mb-1 active">
                <a class="btn btn-info" asp-area="" asp-controller="Game" asp-action="Details" asp-route-gameId="@game.Id" style="width:90%">
                    View Game Details
                </a>
            </div>
            <div class="col-2 mt-1 mb-1 active">
                <form asp-area="" asp-controller="Game" asp-action="LeaveGame" method="post">
                    <input type="hidden" value="@game.Id" name="gameId" />
                    <button class="btn btn-danger" type="submit" style="width:90%">Leave Game</button>
                </form>
            </div>
            <hr />
        </div>
    }
</div>