@model ICollection<OldGameViewModel>
@using PlayPal.Common.StringFormats
@using PlayPal.Core.Models.ViewModels;
@using PlayPal.Extensions

@{
    TempData["Title"] = "My Old Games";
}

<div class="text-center">
    <h2>
        @TempData["Title"]
    </h2>
</div>
<br />
<div class="container-fluid">
    <div class="row" style="background-color:darkorange; color:white">
        <div class="col-3">
            Field
        </div>
        <div class="col-2">
            Starting time
        </div>
        <div class="col-2">
            Ending time
        </div>
        <div class="col-3">
            Result
        </div>
        <div class="col-2">
            Process
        </div>

    </div>

    @foreach (var game in Model)
    {
        <div class="row">
            <div class="col-3 mt-2" style="color:white">
                @game.Field
            </div>
            <div class="col-2 mt-2" style="color:white">
                @game.StartingTime.ToLocalTime().ToString(DateTimeFormats.GameStatEnd)
            </div>
            <div class="col-2 mt-2" style="color:white">
                @game.EndingTime.ToLocalTime().ToString(DateTimeFormats.GameStatEnd)
            </div>
            <div class="col-3 mt-2" style="color:white">
                @game.HomeTeamGoals : @game.AwayTeamGoals
            </div>
            @if (game.EndingTime < DateTime.UtcNow &&
           (DateTime.UtcNow - game.EndingTime) < new TimeSpan(7, 0, 0, 0) && (Guid)User.PlayerId()! == game.CreatorId && !game.IsProcessed)
            {
                    <div class="col-2 mt-1 mb-1" style="color:white">
                        <a asp-area="" asp-controller="Game" asp-action="ProcessGame" asp-route-gameId="@game.Id" class="btn btn-outline-success" style="width:90%">
                            Process Game
                        </a>
                    </div>
                
            }
            else
            {
                <div class="col-2 mt-1 mb-1" style="color:white">
                    <a asp-area="" asp-controller="Game" asp-action="ViewOldGame" asp-route-gameId="@game.Id" class="btn btn-outline-success" style="width:90%">
                        View Game Details
                    </a>
                </div>
            }
            <hr />
        </div>
    }
</div>