@model ProcessGameViewModel
@using PlayPal.Common.StringFormats
@using PlayPal.Core.Models.ViewModels;
@using PlayPal.Extensions

@{
    TempData["Title"] = "Game Details";
}

<div class="text-center">
    <h2>
        @TempData["Title"]
    </h2>
</div>
<br />
<div class="container-fluid">
    <div class="row" style="background-color:darkorange; color:white">
        <div class="col-3">
            Field:
        </div>
        <div class="col-3">
            @Model.Field
        </div>
        <div class="col-6">
        </div>
    </div>

    <div class="row" style="background-color:darkorange; color:white">
        <div class="col-3">
            Starting Time:
        </div>
        <div class="col-3">
            @Model.StartingTime.ToString(DateTimeFormats.GameStatEnd)
        </div>
        <div class="col-6">
        </div>
    </div>

    <div class="row" style="background-color:darkorange; color:white">
        <div class="col-3">
            Ending Time:
        </div>
        <div class="col-3">
            @Model.EndingTime.ToString(DateTimeFormats.GameStatEnd)
        </div>
        <div class="col-6">
        </div>
    </div>

    <div class="row" style="background-color:darkorange; color:white">
        <div class="col-3">
            Result:
        </div>
        <div class="col-3">
            @Model.HomeTeamGoals - @Model.AwayTeamGoals
        </div>
        <div class="col-6">
        </div>
    </div>
</div>

<br />
<h5>
    Players:
</h5>
<br />
<div class="container-fluid">
    <div class="row" style="background-color:darkorange; color:white">
        <div class="col-6">
            Player
        </div>
        <div class="col-6 text-center">
            Report
        </div>
    </div>

    @foreach (var player in Model.HomePlayers)
    {
        <div class="row">

            <div class="col-6 mt-2" style="color:white; text-decoration:none">
                <a asp-area="" asp-controller="Player" asp-action="ViewProfile" asp-route-playerId="@player.Id" style="text-decoration:none; color:white">
                    @player.Name
                </a>
            </div>

            <div class="col-6 mt-1 mb-1" style="color:white">
                @if (player.Id != (Guid)User.PlayerId()!)
                {
                    <form asp-area="" asp-controller="Report" asp-action="Add" method="get">
                        <input type="hidden" value="@player.Id" name="reportedId" />
                        <input type="hidden" value="@Context.Request.Path" name="returnUrl" />
                        <input type="hidden" value="@Model.Id" name="gameId" />
                        <button class="btn btn-outline-danger" style="width:90%">
                            Report
                        </button>
                    </form>
                }
            </div>
            <hr />
        </div>
    }
    @foreach (var player in Model.AwayPlayers)
    {
        <div class="row">
            <div class="col-6 mt-2" style="color:white; text-decoration:none">
                <a asp-area="" asp-controller="Player" asp-action="ViewProfile" asp-route-playerId="@player.Id" style="text-decoration:none; color:white">
                    @player.Name
                </a>
            </div>
            <div class="col-6 mt-1 mb-1" style="color:white">
                @if (player.Id != (Guid)User.PlayerId()!)
                {
                    <form asp-area="" asp-controller="Report" asp-action="Add" method="post">
                        <input type="hidden" value="@player.Id" name="reportedId" />
                        <input type="hidden" value="@Context.Request.Path" name="returnUrl" />
                        <input type="hidden" value="@Model.Id" name="gameId" />
                        <button class="btn btn-outline-danger" style="width:90%">
                            Report
                        </button>
                    </form>
                }
            </div>
            <hr />
        </div>
    }
</div>